{% extends "base.html" %}
{% block title %}Index{% endblock %}
    {% block content %}
        <!-- Login/logout messages-->
        {% with messages = get_flashed_messages()%}
            {% if messages %}
                {% for msg in messages %}
                    <p>{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    <!-- Table-->
    <div>
        <table class="table" id="dentistTable">
            <caption>List of currently employed dentists</caption>
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Dentist ID</th>
                    <th scope="col">Dentist Name</th>
                    <th scope="col">Position</th>
                    <th scope="col">Register Number</th>
                    <th scope="col">Update</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
        </table>
    </div>

    <!-- Update Form -->
    <form>
        <div class="form-group" id='createUpdateForm' style="display: none">
            <p id="grid">
                <span id="createLabel">Add</span> <span id="updateLabel">update</span>Dentist
            </p>
            <!-- ID -->
            <input type="hidden" name="dentistId" />

            <!-- Dentist Name -->
            <label for="dentistName">Dentist Name</label>
            <input type="text" name="dentistName" class="form-control" id="formGroupExampleInput" placeholder="e.g. John Smith"><br />
            
            <!-- Position -->
            <label for="position">Position</label>
            <select class="form-control" id="formGroupExampleInput" name="position">
                <option selected value="General Dentist">General Dentist</option>
                <option value="Implantologist">Implantologist</option>
                <option value="Endodontist">Endodontist</option>
                <option value="Orthodontist">Orthodontist</option>
                <option value="Maxillofacial surgeon">Maxillofacial Surgeon</option>
            </select><br />
            
            <!-- Register Number -->
            <label for="regNumber">Register Number</label>
            <input type="text" name="regNumber" class="form-control" id="formGroupExampleInput" placeholder="e.g. 34/M9"><br />
            <span><button type="submit" id="doCreateButton" onclick="doCreate()">Create</button></span>
            <span><button type="submit" id="doUpdateButton" onclick="doUpdate()">Update</button></span>
            <span><button id="goBackButton" class="delete-back" onclick="return goBack()">Back</button></span>
        </div>
    </form>
    <div>
        <button id="showCreateButton" onclick="showCreate()">Add Dentist</button>
    </div>
    {% endblock %}

{% block script %}
<script type="text/javascript">
    function showCreate() {
        document.getElementById('showCreateButton').style.display = "none"
        document.getElementById('dentistTable').style.display = "none"
        document.getElementById('createUpdateForm').style.display = "block"

        document.getElementById('createLabel').style.display = "inline"
        document.getElementById('updateLabel').style.display = "none"

        document.getElementById('doCreateButton').style.display = "inline"
        document.getElementById('goBackButton').style.display = "inline"
        document.getElementById('doUpdateButton').style.display = "none"

    }
    function showViewAll() {
        document.getElementById('showCreateButton').style.display = "block"
        document.getElementById('dentistTable').style.display = "block"
        document.getElementById('createUpdateForm').style.display = "none"
    }
    function showUpdate(buttonElement) {
        document.getElementById('showCreateButton').style.display = "none"
        document.getElementById('dentistTable').style.display = "none"
        document.getElementById('createUpdateForm').style.display = "block"

        document.getElementById('createLabel').style.display = "none"
        document.getElementById('updateLabel').style.display = "inline"

        document.getElementById('doCreateButton').style.display = "none"
        document.getElementById('doUpdateButton').style.display = "inline"
        document.getElementById('goBackButton').style.display = "inline"

        var rowElement = buttonElement.parentNode.parentNode
        var dentist = getDentistFromRow(rowElement)
        populateFormWithDentist(dentist)
    }
    // adapted from https://stackoverflow.com/questions/26517974/javascript-redirect-not-working-anyway/26518061#26518061
    function goBack(){
        window.location = '/';
        return false;
    }

    // Create.
    function doCreate() {
        var form = document.getElementById('createUpdateForm')
        var dentist = {}

        dentist.dentistName = form.querySelector('input[name="dentistName"]').value
        dentist.position = form.querySelector('select[name="position"').value
        dentist.regNumber = form.querySelector('input[name="regNumber"]').value
        console.log(JSON.stringify(dentist))
        createDentistAjax(dentist)
    }
    // Update
    function doUpdate() {
        var dentist = getDentistFromForm();
        var rowElement = document.getElementById(dentist.dentistId);
        updateDentistAjax(dentist);
        setDentistInRow(rowElement, dentist);

        clearForm();
        showViewAll();
    }
    // Delete
    function doDelete(r) {
        if (!confirm('Are you sure you want to delete this entry from the database?')) {
            return false;
        }
        var tableElement = document.getElementById('dentistTable');
        var rowElement = r.parentNode.parentNode;
        var index = rowElement.rowIndex;
        deleteDentistAjax(rowElement.getAttribute("dentistId"));
        tableElement.deleteRow(index);
    }
    function addDentistToTable(dentist) {
        var tableElement = document.getElementById('dentistTable')
        var rowElement = tableElement.insertRow(-1)
        rowElement.setAttribute('dentistId', dentist.dentistId)
        var cell1 = rowElement.insertCell(0);
        cell1.innerHTML = dentist.dentistId
        var cell2 = rowElement.insertCell(1);
        cell2.innerHTML = dentist.dentistName
        var cell3 = rowElement.insertCell(2);
        cell3.innerHTML = dentist.position
        var cell4 = rowElement.insertCell(3);
        cell4.innerHTML = dentist.regNumber
        var cell5 = rowElement.insertCell(4);
        cell5.innerHTML = '<button onclick="showUpdate(this)">Update</button>'
        var cell6 = rowElement.insertCell(5);
        cell6.innerHTML = '<button class="delete-back" onclick=doDelete(this)>Delete</button>'
    }

    function clearForm() {
        var form = document.getElementById('createUpdateForm')
        form.querySelector('input[name="dentistName"]').value = ''
        form.querySelector('select[name="position"]').value = ''
        form.querySelector('input[name="regNumber"]').value = ''
    }
    function getDentistFromRow(rowElement) {
        var car = {}
        dentist.dentistId = rowElement.getAttribute('dentistId')
        dentist.dentistName = rowElement.cells[1].firstChild.textContent
        dentist.position = rowElement.cells[2].firstChild.textContent
        dentist.regNumber = rowElement.cells[3].firstChild.textContent
        return dentist
    }
    function setDentistInRow(rowElement, dentist) {
        rowElement.cells[0].firstChild.textContent = dentist.dentistId
        rowElement.cells[1].firstChild.textContent = dentist.dentistName
        rowElement.cells[2].firstChild.textContent = dentist.position
        rowElement.cells[3].firstChild.textContent = dentist.regNumber
    }
    function populateFormWithDentist(dentist) {
        var form = document.getElementById('createUpdateForm')
        form.querySelector('input[name="dentistId"]').disabled = true

        form.querySelector('input[name="dentistId"]').value = dentist.dentistId
        form.querySelector('input[name="dentistName"]').value = dentist.dentistName
        form.querySelector('select[name="position"]').value = dentist.position
        form.querySelector('input[name="regNumber"]').value = dentist.regNumber
        return dentist
    }
    function getDentistFromForm() {
        var form = document.getElementById('createUpdateForm')
        var dentist = {}
        dentist.dentistId = form.querySelector('input[name="dentistId"]').value
        dentist.dentistName = form.querySelector('input[name="dentistName"]').value
        dentist.position = form.querySelector('select[name="position"]').value
        dentist.regNumber = form.querySelector('input[name="regNumber"]').value
        console.log(JSON.stringify(dentist))
        return dentist
    }
    function getAllAjax() {
        $.ajax({
            "url": "http://127.0.0.1:5000/dentists",
            "method": "GET",
            "data": "",
            "dataType": "JSON",
            "success": function (result) {
                //console.log(result);
                for (dentist of result) {
                    addDentistToTable(dentist);
                }

            },
            "error": function (xhr, status, error) {
                console.log("error: " + status + " msg:" + error);
            }
        });

    }
    function createDentistAjax(dentist) {
        console.log(JSON.stringify(dentist));
        $.ajax({
            "url": "http://127.0.0.1:5000/dentists",
            "method": "POST",
            "data": JSON.stringify(dentist),
            "dataType": "JSON",
            contentType: "application/json; charset=utf-8",
            "success": function (result) {
                //console.log(result);
                dentist.dentistId = result.dentistId
                addDentistToTable(dentist)
                clearForm()
                showViewAll()
            },
            "error": function (xhr, status, error) {
                console.log("error: " + status + " msg:" + error);
            }
        });
    }
    function updateDentistAjax(dentist) {
        console.log(JSON.stringify(dentist));
        $.ajax({
            "url": "http://127.0.0.1:5000/dentists/" + encodeURI(dentist.dentistId),
            "method": "PUT",
            "data": JSON.stringify(dentist),
            "dataType": "JSON",
            contentType: "application/json; charset=utf-8",
            "success": function (result) {
                // console.log(result);

            },
            "error": function (xhr, status, error) {
                console.log("error: " + status + " msg:" + error);
            }
        });
    }
    function deleteDentistAjax(dentistId) {
        $.ajax({
            "url": "http://127.0.0.1:5000/dentists/" + encodeURI(dentistId),
            "method": "DELETE",
            "data": "",
            "dataType": "JSON",
            contentType: "application/json; charset=utf-8",
            "success": function (result) {
            
            },
            "error": function (xhr, status, error) {
                console.log("error: " + status + " msg:" + error);
            }
        });
    }
    getAllAjax();
</script>
{% endblock %}
</html>